.App {
  text-align: center;
}

.app-container {
  height: 100vh;
}

.page-container {
  height: 100vh;
  padding: 16px;
  margin: 0;
  overflow: auto;
}

.page-content {
  height: 100vh;
  padding: 16px;
  margin: 0;
  overflow: auto;
  background: white;
  min-height: 100%;
}
